@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Fuzzy+Bubbles:wght@700&family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(78, 6, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 10px; 
}

.timer{
    user-select: none;
    display: none;
    font-size: 30px;
    padding: 5px 20px;
    background-color: white;
    color: rgb(78, 6, 78);
    border-radius: 7px;
    margin-top: 15px;
}

.sec{
    background-color: rgb(78, 6, 78);
    color: white;
    padding: 0px 10px;
    margin-left: 15px;
    border-radius: 5px;
}

.heading{
    text-align: center;
    font-size: 55px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    user-select: none;
}


.cards , .card , .face {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100%/4 - 10px);
    width: calc(100%/4 - 10px);
}

.cards .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    background-color: white;
    transition: transform 0.20s linear;
    backface-visibility: hidden;
    border-radius: 17px;
}

.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%,100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.card .back{
    transform: rotateY(-180deg);
}

.card.flip .back{
    transform: rotateY(0);
}

.card.flip .front{
    transform: rotateY(180deg);
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}


ul{
    list-style: none;
}
img{
    width: 70px;
    height: 70px;
}

.start{
    font-size: x-large;
    background-color: white;
    color: rgb(78, 6, 78);
    padding: 5px 20px 5px 20px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

@media(max-width:568px){
    .wrapper{
        width: 350px;
        height: 350px;
    }
    .heading{
        position: relative;
        top: -25px;
        font-size: 35px;
    }
    img{
        width: 50px;
        height: 50px;
    }

}
